<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/038f32a5df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre - Samuel Estrada</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="navbar">
                <a class="logo" href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre">
                </a>
                <form class="search-bar">
                    <input class="search" type="text" placeholder="Buscar productos, marcas">
                    <button class="b-search-bar" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="center-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="nav-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" alt="">
        <section>
            <h2 class="title"><strong>Basado en tu última visita</strong></h2>
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$6.700</p>
                    <p class="discount ow">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$230.000</p>
                    <p class="discount ow">20% OFF</p>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$70.500</p>
                    <p class="discount ow">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$23.200</p>
                    <p class="discount ow">5% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

        <section>
            <h2 class="title"><strong>Ofertas</strong></h2>
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$6.700</p>
                    <p class="discount ow">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$230.000</p>
                    <p class="discount ow">20% OFF</p>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$70.500</p>
                    <p class="discount ow">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price ow">$23.200</p>
                    <p class="discount ow">5% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

    </main>

    <footer>
            <div>
                <article>
                    <i class="fas fa-credit-card"></i>
                    <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es
                        seguro!</p>
                </article>
    
                <article>
                    <i class="fas fa-gift"></i>
                    <h4><strong>Envío grtis desde los $2.500</strong></h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de
                        Mercado Puntos.</p>
                </article>
    
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h4><strong>Seguridad de principio a fin</strong></h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                        protegid@.</p>
                </article>
            </div>
            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>

    </footer>
</body>

</html>