<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/038f32a5df.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="navbar">
                <a class="logo" href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre">
                </a>
                <form class="search-bar">
                    <input class="search" type="text" placeholder="Buscar productos, marcas">
                    <button class="b-search-bar" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="center-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="nav-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-right">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <h2>Iniciar sesión</h2>
        <form action="/" class="formular">
            <div class="username">
                <input type="text" name="username" id="username" placeholder="Nombre de usuario">
            </div>
    
            <div class="password">
                <input type="password" name="user-password" id="user-password" required minlength="4" placeholder="Ingrese su contraseña">
            </div>
    
            <button class="boton" type="submit">Iniciar sesion</button>
        </form>
    </main>

    <footer>
        <div>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>

            <article>
                <i class="fas fa-gift"></i>
                <h4><strong>Envío grtis desde los $2.500</strong></h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h4><strong>Seguridad de principio a fin</strong></h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </div>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>

</footer>
</body>

</html>